{% extends 'madre.html' %}

{% block contenidoquecambia %}
<form action="{% url 'Adquirir'  %}" method="post">{% csrf_token %}
    <p>Nombre: <input type="text" name="nombre"></p>
    <p>Servicio: <input type="text" name="Servicio"></p>
    <p>Mail: <input type="text" name="email"></p>
    <button type="submit"> ENVIAR </button>
</form>
<h1>Bienvenido Servicios</h1>
        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">NUESTROS SERVICIOS</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">AUDITORIA</h3>
                            <p class="text-muted mb-0">Auditorias de estados contables locales. Auditorías para fines especificos. Certificaciones contables. Consultoría contable.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">IMPUESTOS</h3>
                            <p class="text-muted mb-0">Ganancias  , iva , iibb.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Outsourcing</h3>
                            <p class="text-muted mb-0">Llevamos tu contabilidad</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Asesoramiento online</h3>
                            <p class="text-muted mb-0">tienes alguna consulta? no dudes en escribirnos</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock contenidoquecambia %}